@model IEnumerable<Introduction_to_LINQ_and_ASP.NET_MVC_Lab02.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.PageTitle</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    <a asp-action="Info" asp-route-id="@item.Id">Details</a> 
               @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
